.policy{
	width: 100%;
	height: 120vh;
	background: $white;
	overflow: hidden;
	@media (min-width: 370px) and (min-height: 800px) {
		height: 100vh;
	}
	&__container{
		@media (max-width: 500px){
		height: 113%;
	}

		&__parrafoPoliza{
			width: 100%;
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translate(-50%,-10%);
		span {
			color: #19a7f3;
			font-weight: 700;
		}
		@media (min-width: 1199px){
			width: 50%;
			top: 50%;
			left: 0%;
			transform: translate(0%,-50%);
		}
		@media (min-width: 1599px){
			width: 48%;
		}
		p.low {
			padding-top: 23px;
		}
		p{
			font-size: 17px;
			font-weight: 300;
			@media (min-width: 370px) and (min-height: 800px) {
				font-size: 17px;
			}
			@media (min-width: 750px) and (min-height: 1000px) {
				font-size: 20px;
			}
			@media (min-width: 1199px){
				font-size: 20px;
				font-weight: 300;
			}
			}
		}

		&__animation{
			width: 270px;
			height: 270px;
			position: absolute;
			top: 10%;
			left: 50%;
			transform: translate(-50%,-10%);
			@media (min-width: 370px){
				width: 250px;
				height: 250px;
				top: 71%;
				left: 50%;
				transform: translate(-50%,-70%);
			}
			@media (min-width: 650px){
				width: 450px;
				height: 450px;
				top: 65%;
				left: 50%;
				transform: translate(-50%,-65%);
			}
			@media (min-width: 1199px){
				width: 450px;
				height: 450px;
				top: 50%;
				left: 100%;
				transform: translate(-100%,-50%);
			}
			@media (min-width: 1599px){
				width: 500px;
				height: 500px;
			}
			p{
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				text-align: left;
			}
			&__call{
				font-size: 18px;
				font-weight: 300;
				letter-spacing: 1px;
			}
			&__img{
				width: 70%;
				position: absolute;
				display: block;
				top: 100%;
				left: 50%;
				transform: translate(-50%,-100%);
				svg{
					width: 100%;
					height: 100%;
				}
			}
			h2{
				width: 100%;
				text-align: center;
				position: absolute;
				top: 75%;
				transform: translate(0,-75%);
				font-weight: 400;
			}
			span {
				font-size: 35px;
				font-weight: 700;
				 color: #03a4f3;
				}

			&__one{
				display: block;
			}
			&__two{
				opacity: 0;
			} 
			&__three{
				opacity: 0;
			}
		}

	}
}
