$white: #FFFFFF;

$black: #000000;

$licorne_gray: #666666;

$licorne_Green_White: #E8E8E8;

$licorne_yellow: rgb(255, 223, 23);

$licorne_blue: #00A3F4;

$licorne_green: #64E24A;

$licorne_BrightTurquoise: rgb(0, 226, 207);

