.analytics{
	position: relative;

	&__content{
        background-color: $licorne_BrightTurquoise;
        min-height: 100vh;

        @media(min-width: 1200px){
            height: 100vh;
        }

        &__container{
            min-height: 100vh;

            &__text{
                font-size: 20px;
                padding-top: 10%;
                font-weight: 300;

                @media(min-width: 1400px){
                    max-width: 55%;
                    position: absolute;
                    left: 0;
                    bottom: 34%;
                    padding-top: 0;
                }

                @media(min-width: 1200px){
                    max-width: 55%;
                    position: absolute;
                    left: 0;
                    bottom: 29%;
                    padding-top: 0;
                    padding-right: 50px;
                }

                span{
                    font-weight: 700;
                }

            }

            &__images{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                margin-top: 30px;

                @media(min-width: 1200px){
                    width: 45%;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    margin-top: 0;
                }

                &__individual{
                    max-height: 150px;
                    width: 100%;
                    padding: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 17px 0;
                    transition: 0.3s;

                    &:hover{
                        transform: scale(1.2);
                    }

                    svg{
                        height: 100%;
                    	width: 100%;
                    }

                }

            }

        }

    }
}