.stages{
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	background: linear-gradient($licorne_blue,$licorne_BrightTurquoise);
	overflow: hidden;
	animation-name: productoT;
	animation-delay: 4s;
	animation-duration: 11s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	@media only screen and (min-width : 300px) and (max-width : 350px) {
		height: 130vh;
	}

	@keyframes productoT {
		0% {background: linear-gradient($licorne_blue,$licorne_BrightTurquoise);}
		100% {background: linear-gradient($licorne_blue,$black);}
	}

	&__container{
		display: flex;

		@media(max-width: 576px){
			display: inline;
		}

		&__left{
			width: 60%;
			height: 100%;
			position: relative;

			@media(max-width: 576px){
				width: 100%;
				height: 50%;
			}

			&__section_three{
				width: 90%;
				position: absolute;
				top: 75%;
				left: 0%;
				transform: translate(0%, -70%);
				opacity: 1;
				animation-name: portadaTit;
				animation-delay: 4s;
				animation-duration: 4s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;  

				@media(max-width: 700px){
					opacity: 0;
				}

				@keyframes portadaTit {
					0% {color: black; stroke: black}
					100% {color: white; stroke: white}
				}

				@media only screen and (min-width : 1008px) and (max-width : 1107px) {
					top: 80%;
				}

				@media only screen and (min-width : 847px) and (max-width : 1007px) {
					top: 77%;
				}

				@media only screen and (min-width : 626px) and (max-width : 846px) {
					top: 79%;
				}

				@media only screen and (min-width : 576px) and (max-width : 625px) {
					top: 80%;
				}

				p{
					font-size: 22px;
					font-weight: 300;

					@media(max-width: 1920px){
						font-size: 20px;
					}

				}

			}

			&__section_responsive_three{
				width: 90%;
				position: absolute;
				top: 25%;
				left: 50%;
				transform: translate(-50%, 0);
				opacity: 0;
				color: white;
				animation-name: pResponsiveTres;
				animation-delay: 12s;
				animation-duration: 4s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;

				@media only screen and (min-width : 400px) and (max-width : 450px) {
					top: 12%;
				}

				@media(min-width: 700px){
					display: none;
				}

				@keyframes pResponsiveTres {
					0% {opacity: 0}
					25% {opacity: 1}
					100% {opacity: 1}
				}

				p{
					font-size: 20px;
					line-height: 27px;
					font-weight: 300;
					letter-spacing: 1px;
					text-align: center;
				}

			}

			&__section_responsive{
				width: 90%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				opacity: 0;
				text-align: center;
				animation-name: pResponsive;
				animation-delay: 3s;
				animation-duration: 5s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;

				@media(min-width: 700px){
					display: none;
				}

				@keyframes pResponsive {
					0% {opacity: 0}
					25% {opacity: 1}
					100% {opacity: 0}
				}

				p{
					font-size: 20px;
					font-weight: 300;
					letter-spacing: 1px;
				}

			}

			&__section_responsive_two{
				width: 90%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				opacity: 0;
				text-align: center;
				animation-name: pResponsiveDos;
				animation-delay: 7s;
				animation-duration: 6s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;

				@media(min-width: 700px){
					display: none;
				}

				@keyframes pResponsiveDos {
					0% {opacity: 0}
					25% {opacity: 1}
					100% {opacity: 0}
				}

				p{
					font-size: 20px;
					font-weight: 300;
					letter-spacing: 1px;
				}

			}

			&__title_responsive{

				@media(min-width: 700px){
					display: none;
				}

				@media(max-width: 700px) and (max-height: 1000px){
					position: absolute;
					width: 100%;
					top: 10%;
					transform: translate(0,20%);
					animation-name: tituloResponsive;
					animation-delay: 1s;
					animation-duration: 2s;
					animation-iteration-count: 1;
					animation-fill-mode: forwards;
					text-align: -webkit-center;


					@keyframes tituloResponsive {
						0% {opacity: 1}
						100% {opacity: 0}
					}

				}

				h2{
					font-size: 50px;
					line-height: 50px;
				}

				h1{
					font-size: 47px;
					line-height: 45px;
					-webkit-text-stroke-width: 1px;
					stroke: 1px $black;
					-webkit-text-fill-color: transparent;
				}

			}

			&__title{
				width: 100%;
				position: absolute;
				top: 38%;
				left: 50%;
				transform: translate(-50%,-50%);
				animation-name: portadaTit;
				animation-delay: 4s;
				animation-duration: 4s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;

				@keyframes portadaTit {
					0% {color: black; stroke: black}
					100% {color: white; stroke: white}
				}

				@media(max-width: 700px){
					display: none;
				}

				h2{
					font-size: 75px;
					line-height: 79px;

					@media(max-width: 1920px){
						font-size: 75px;
						line-height: 77px;
					}

					@media only screen and (min-width : 721px) and (max-width : 1007px) {
						font-size: 58px;
						line-height: 61px;
					}

					@media(max-width: 720px){
						font-size: 65px;
						line-height: 62px;
					}

					@media(max-width: 576px){

						@media(max-height: 1000px){
							font-size: 65px;
							line-height: 62px;
							margin-left: 20px;
						}

						@media(max-height: 670px){
							font-size: 65px;
							line-height: 64px;
							margin-left: 20px;
						}

					}

				}

				h1{
					font-size: 65px;
					-webkit-text-stroke-width: 1px;
					stroke: 1px $black;
					-webkit-text-fill-color: transparent;

					@media(max-width: 1920px){
						font-size: 65px;
						line-height: 74px;
					}

					@media(max-width: 720px){
						font-size: 54px;
						line-height: 63px;
					}

					@media(max-width: 576px){

						@media(max-height: 1000px){
							font-size: 54px;
							line-height: 63px;
						}

						@media(max-height: 670px){
							font-size: 47px;
							line-height: 54px;
						}

					}

				}

			}

		}

		&__rigth{
			width: 40%;
			height: 100%;
			position: relative;

			@media(max-width: 576px){
				width: 100%;
				height: 50%;
			}

			&__section{
				width: 80%;
				position: absolute;
				top: 20%;
				left: 50%;
				transform: translate(-50%,-20%);
				text-align: center;
				animation-name: pPortada;
				animation-delay: 3s;
				animation-duration: 4s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;

				@keyframes pPortada {
					0% {opacity: 1}
					100% {opacity: 0}
				}

				@media(max-height: 700px){
					position: absolute;
					top: 10%;
					left: 50%;
					transform: translate(-50%,-10%);
				}

				@media(max-width: 700px){
					display: none;
				}

				p{
					font-size: 18px;
					letter-spacing: 1px;
					font-weight: 300;

					@media(max-width: 720px){
						font-size: 28px;
						line-height: 24px;
					}

				}

			}

			&__section_two{
				width: 80%;
				position: absolute;
				top: 20%;
				left: 50%;
				transform: translate(-50%,-20%);
				text-align: center;
				opacity: 0;
				animation-name: pPortadaDos;
				animation-delay: 5s;
				animation-duration: 5s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;

				@keyframes pPortadaDos {
					0% {opacity: 0}
					25% {opacity: 1}
					75% {opacity: 1}
					100% {opacity: 0}
				}

				@media(max-height: 700px){
					position: absolute;
					top: 10%;
					left: 50%;
					transform: translate(-50%,-10%);
				}

				@media(max-width: 700px){
					display: none;
				}

				p{
					font-size: 18px;
					letter-spacing: 1px;
					font-weight: 300;
					line-height: 27px;

					@media(max-width: 720px){
						font-size: 24px;
					}

				}

			}

			&__animation{
				width: 337px;
				height: 470px;
				position: absolute;
				top: 70%;
				left: 50%;
				transform: translate(-50%,-70%);
				-webkit-text-fill-color: transparent;

				@media only screen and (min-width : 722px) and (max-width : 946px) {
					width: 267px;
					height: 470px;
				}

				@media only screen and (min-width : 577px) and (max-width : 721px) {
					width: 240px;
					height: 470px;
				}

				@media(max-width: 576px){

					@media(max-height: 800px){
						width: 250px;
						height: 350px;
						top: 20%;
						left: 50%;
						transform: translate(-50%,-20%);
					}

					@media(max-height: 670px){
						width: 200px;
						height: 300px;
						top: 20%;
						left: 50%;
						transform: translate(-50%,-10%);
					}

				}

				&__ship{
					width: 40%;
					height: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					animation-name: nave;
					animation-delay: 2s;
					animation-duration: 5s;
					animation-iteration-count: 1;
					animation-fill-mode: forwards;

					@media (max-width:991px){
						top: 40%;
					}
					
					@keyframes nave {
						100% {top: -100%; opacity: 0}
					}

					svg{
						width: 100%;
					}

				}

				&__ship_two{
					width: 30%;
					height: auto;
					position: absolute;
					top: 150%;
					left: -50%;
					transform: translate(0,-150%);
					opacity: 0;
					animation-name: naveDos;
					animation-delay: 6s;
					animation-duration: 6s;
					animation-iteration-count: 1;
					animation-fill-mode: forwards;

					@keyframes naveDos {
						0% {opacity: 0}
						75% {opacity: 1; top: 105%; left: 0%; width: 48%;}
						100% {opacity: 0; top: 105%; left: 0%; width: 48%; }
					}

					svg{
						width: 100%;
					}

				}

				&__planet{
					width: 30%;
					height: auto;
					position: absolute;
					top: -40%;
					left: 200%;
					transform: translate(-150%,-20%);
					opacity: 0;
					animation-name: planeta;
					animation-delay: 6s;
					animation-duration: 6s;
					animation-iteration-count: 1;
					animation-fill-mode: forwards;

					@keyframes planeta {
						0% {opacity: 0}
						75% {opacity: 1; top: 15%; left: 140%; width: 78%;}
						100% {opacity: 0; top: 15%; left: 140%; width: 78%; }
					}

					svg{
						width: 100%;
					}

				}

				&__smoke{
					width: 60%;
					height: auto;
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translate(-50%,-100%);
					opacity: 0;
					animation-name: humo;
					animation-delay: 3s;
					animation-duration: 3s;
					animation-iteration-count: 1;
					animation-fill-mode: forwards;

					@keyframes humo {
						0% {opacity: 0}
						50% {opacity: 1}
						100% {top: -40%; opacity: 0}
					}

					svg{
						width: 100%;
					}

				}

				&__landing{
					width: 100%;
					height: auto;
					position: absolute;
					top: -10%;
					left: 80%;
					transform: translate(-80%,0%);
					opacity: 0;
					animation-name: aterrizaje;
					animation-delay: 11s;
					animation-duration: 2s;
					animation-iteration-count: 1;
					animation-fill-mode: forwards;

					@media (max-width:375px){
						top: -8%;
					}
					@media (max-width:375px){
						top: -6%;
					}
					
					@keyframes aterrizaje {
						0% {opacity: 0; width: 100%}
						100% {opacity: 1; width: 110%}
					}
					svg{ 
						width: 100%;
					}

				}

				&__paper{
					width: 100%;
					height: 100%;
					position: absolute;
					animation-name: papel;
					animation-delay: 2s;
					animation-duration: 6s;
					animation-iteration-count: 1;
					animation-fill-mode: forwards;

					@keyframes papel {
						0% {top: 0%}
						50% {top: 150%}
						100% {top: 150%; opacity: 0}
					}

					svg{
						width: 100%;
						height: 100%;
					}

				}

			}

		}

	}

}