.ux{
	position: relative;

	&__content{
        background-color: $licorne_blue;
        min-height: 100vh;

        @media(min-width: 1200px){
            height: 100vh;
        }

        @media(max-width: 500px){
        min-height: 147vh;
        padding-top: 50px;
        }

        &__container{
            min-height: 100vh;

            &__text{
                font-size: 20px;
                padding-top: 222px;
                font-weight: 300;

                @media(max-width: 600px){
                    padding-top: 10%;
                }

                @media(min-width: 1200px){
                    max-width: 55%;
                    position: absolute;
                    left: 0;
                    bottom: 22%;
                    padding-top: 0;
                }
				
                @media(min-width: 1400px){
                    max-width: 55%;
                    position: absolute;
                    left: 0;
                    bottom: 28%;
                    padding-top: 0;
                }
              
                span{
                    font-weight: 700;
                }

            }

            &__images{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                margin-top: 0px;

                @media(min-width: 1200px){
                    width: 45%;
                    position: absolute;
                    right: 0;
                    top: 0%;
                    transform: translate(0, -75%);
                    margin-top: 0;
                }
                @media(min-width: 1000px){
                    top: 62%;
                }

                &__individual{
                    height: 109px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 17px 0;
                    transition: 0.3s;

                    &:hover{
                        transform: scale(1.2);
                    }

                    svg{
                        max-height: 100%;
                        max-width: 100%;
                    }
				
                    p{
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 14px;
                        margin-top: 10px;

                    }

                }

            }

        }

    }
}