//* Globals
@import 'global/colors';

//* Mixins
@import 'mixins/flex';

//*Container
@import 'global/container';

//* Nav
@import 'components/nav/licorne_header';
@import 'components/nav/licorne_menu';
@import 'components/nav/lateral';
@import 'components/nav/menu_movil';
@import 'components/nav/buscador';

//* Text
@import 'components/text/title';

//* Footer
@import 'components/footer/footer';
@import 'components/footer/footer_top';
@import 'components/footer/footer_lower';

//* Home
@import 'components/home/hero';
@import 'components/home/startup_kings';
@import 'components/home/lean_startup';
@import 'components/home/slide_home';
@import 'components/home/focus';
@import 'components/home/know';
@import 'components/home/digitise';

//*Web
@import 'components/web/hero';
@import 'components/web/creative';
@import 'components/web/menuCreative';
@import 'components/web/infomationWeb';
@import 'components/web/tecnolys';
@import 'components/web/ocean';


//* LeanStartup
@import 'components/leanStartup/mainAnimation';
@import 'components/leanStartup/seedAnimation';
@import 'components/leanStartup/snapAnimation';
@import 'components/leanStartup/weDo';
@import 'components/leanStartup/partners';

//* Development
@import 'components/development/stages';
@import 'components/development/appDevelopments';
@import 'components/development/ux';
@import 'components/development/cloud';
@import 'components/development/analytics';
@import 'components/development/cybersecurity';
@import 'components/development/audit';

//*App
@import 'components/app/hero';
@import 'components/app/methology';
@import 'components/app/requirements';
@import 'components/app/we_know';

//*Ecommerce
@import 'components/ecommerce/conversion';
@import 'components/ecommerce/management';
@import 'components/ecommerce/responsive';
@import 'components/ecommerce/shop';
@import 'components/ecommerce/wireframing';
@import 'components/ecommerce/workshop';

//*Maintenance
@import 'components/maintenance/hero';
@import 'components/maintenance/update';
@import 'components/maintenance/policy';
@import 'components/maintenance/since';

//*Google Ads
@import 'components/google/hero';
@import 'components/google/wallet';
@import 'components/google/google';
@import 'components/google/click';
@import 'components/google/road';
@import 'components/google/present';

//* Tipografía
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

input{
    outline: none;
    border: 0;
}