//* Globals
@import 'global/colors';

//* Mixins
@import 'mixins/flex';

//* Container
@import 'global/container';

//* Layout
@import 'layouts/licorne_header';
@import 'layouts/licorne_menu';
@import 'layouts/menu_movil';
@import 'layouts/lateral';
@import 'layouts/footer/footer';
@import 'layouts/footer/footer_top';
@import 'layouts/footer/footer_lower';
@import 'layouts/buscador';

//* Common
@import 'components/common/title';
@import 'components/common/licorne_link';

//* Home
@import 'components/home/hero';
@import 'components/home/startup_kings';
@import 'components/home/lean_startup';
@import 'components/home/slide_home';
@import 'components/home/focus';
@import 'components/home/know';
@import 'components/home/digitise';

//* lean-startup
@import 'components/lean-startup/mainAnimation';
@import 'components/lean-startup/seedAnimation';
@import 'components/lean-startup/snapAnimation';
@import 'components/lean-startup/weDo';
@import 'components/lean-startup/partners';

//* Development
@import 'components/development/stages';
@import 'components/development/appDevelopments';
@import 'components/development/ux';
@import 'components/development/cloud';
@import 'components/development/analytics';
@import 'components/development/cybersecurity';
@import 'components/development/audit';

//*Web
@import 'components/web/hero';
@import 'components/web/creative';
@import 'components/web/menuCreative';
@import 'components/web/infomationWeb';
@import 'components/web/tecnolys';
@import 'components/web/ocean';

//*Ecommerce
@import 'components/ecommerce/conversion';
@import 'components/ecommerce/management';
@import 'components/ecommerce/responsive';
@import 'components/ecommerce/shop';
@import 'components/ecommerce/wireframing';
@import 'components/ecommerce/workshop';

//*App
@import 'components/app/hero';
@import 'components/app/methology';
@import 'components/app/requirements';
@import 'components/app/we_know';

//*Maintenance
@import 'components/maintenance/hero';
@import 'components/maintenance/update';
@import 'components/maintenance/policy';
@import 'components/maintenance/since';

//* Inbound Marketing
@import 'components/inbound-marketing/fit';
@import 'components/inbound-marketing/boost';
@import 'components/inbound-marketing/stages';
@import 'components/inbound-marketing/results';
@import 'components/inbound-marketing/responsive';
@import 'components/inbound-marketing/learning';

//*SEO
@import 'components/seo/google';
@import 'components/seo/quality';
@import 'components/seo/qualified';

//* Social Media
@import 'components/social-media/discover';
@import 'components/social-media/worth';
@import 'components/social-media/vanity';
@import 'components/social-media/content';
@import 'components/social-media/paid';

//*Google Ads
@import 'components/google/hero';
@import 'components/google/wallet';
@import 'components/google/google';
@import 'components/google/click';
@import 'components/google/road';
@import 'components/google/present';

//*Social Ads
@import 'components/social-ads/hero';
@import 'components/social-ads/bells';
@import 'components/social-ads/segmentation';
@import 'components/social-ads/menu';
@import 'components/social-ads/need';
@import 'components/social-ads/social_networks';

//*Programatic
@import 'components/programatic/hero';
@import 'components/programatic/programatics';
@import 'components/programatic/traditional';
@import 'components/programatic/menu';
@import 'components/programatic/benefits';

//*Wo Do It
@import 'components/we-do-it/how';
@import 'components/we-do-it/discover';
@import 'components/we-do-it/consultancy';
@import 'components/we-do-it/market_fit';
@import 'components/we-do-it/maximize';
@import 'components/we-do-it/scalability';

//*Mision y vision
@import 'components/mision-vision/hero';
@import 'components/mision-vision/mision';
@import 'components/mision-vision/vision';
@import 'components/mision-vision/values';
@import 'components/mision-vision/partners';
@import 'components/mision-vision/media';

//* History
@import 'components/history/history';
@import 'components/history/chapter_zero';
@import 'components/history/chapter_one';
@import 'components/history/chapter_two';
@import 'components/history/chapter_three';
@import 'components/history/chapter_four';
@import 'components/history/chapter_five';
@import 'components/history/chapter_six';
@import 'components/history/chapter_seven';
@import 'components/history/chapter_eigth';
@import 'components/history/chapter_nine';
@import 'components/history/chapter_ten';

//*Briefcase
@import 'components/briefcase/project';
@import 'components/briefcase/portafolio';

//* Team
@import 'components/Team/group';
@import 'components/Team/individual';
@import 'components/Team/slide';
@import 'components/Team/success';
@import 'components/Team/table';
@import 'components/Team/team_card';

//* Tipografía
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

input{
    outline: none;
    border: 0;
}