.equipo__grupal{
	width: 100%;
	height: 100vh;
	position: relative;
	background: linear-gradient(
		$licorne_yellow, 
		$licorne_BrightTurquoise
	);

	.equipo__grupal__image{
		width: 70%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 1;
		transition-duration: 1500ms;
		
		&:hover{
			opacity: 0;
		}

		@media (max-width: 790px) {
			width: 90%;
		}

		img{
			width: 100%;
		}

	}

	.equipo__grupal__image__black{
		width: 70%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 0;

		@media (max-width: 790px) {
			width: 90%;
		}

		img{
			width: 100%;
		}

	}

}