.history{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(
		$licorne_blue,
		$licorne_BrightTurquoise
	);

	&__container{

		&__time{
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);

			@media (min-width: 750px) and (min-height: 1000px) {
				width: 50%;
			}

			@media (min-width: 1199px) {
				width: 40%;
			}

			svg{
				width: 100%;
			}

		}

		&__circle{
			width: 150px;
			height: 150px;
			background: $white;
			border-radius: 100%;
			position: absolute;
			left: 50%;
			top: -10%;
			transform: translate(-50%,0);

			@media (min-width: 370px) and (min-height: 820px) {
				width: 200px;
				height: 200px;
			}

			@media (min-width: 750px) and (min-height: 1000px) {
				width: 300px;
				height: 300px;
			}

			@media (min-width: 1199px) {
				width: 300px;
				height: 300px;
				left: -30%;
				top: 50%;
				transform: translate(0%,-50%);
			}

		}

		&__triangle{
			position: absolute;
			width: 0;
			height: 0;
			top: 110%;
			left: 50%;
			transform: translate(-50%,-100%);
			border-style: solid;
			border-width: 0 80px 130px 80px;
			border-color: transparent transparent $white transparent;

			@media (min-width: 370px) and (min-height: 820px) {
				border-width: 0 130px 200px 130px;
			}

			@media (min-width: 750px) and (min-height: 1000px) {
				border-width: 0 190px 260px 190px;
			}

			@media (min-width: 1199px) {
				border-width: 0 190px 260px 190px;
				left: 130%;
				top: 50%;
				transform: translate(-100%,-50%);
			}

		}

		&__book{
			width: 270px;
			height: 270px;
			position: absolute;
			top: 75%;
			left: 50%;
			transform: translate(-50%,-75%);
			opacity: 0;

			@media (min-width: 370px) and (min-height: 820px) {
				width: 350px;
				height: 350px;
				top: 60%;
				left: 50%;
				transform: translate(-50%,-60%);
			}

			@media (min-width: 750px) and (min-height: 1000px) {
				width: 450px;
				height: 450px;
				top: 55%;
				left: 50%;
				transform: translate(-50%,-55%);
			}

			@media (min-width: 1199px) {
				width: 450px;
				height: 450px;
				top: 50%;
				left: 100%;
				transform: translate(-100%,-50%);
			}

			svg{
				width: 60%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}

		}

		&__book_two{
			width: 270px;
			height: 270px;
			position: absolute;
			top: 75%;
			left: 50%;
			transform: translate(-50%,-75%);
			opacity: 0;

			@media (min-width: 370px) and (min-height: 820px) {
				width: 350px;
				height: 350px;
				top: 60%;
				left: 50%;
				transform: translate(-50%,-60%);
			}

			@media (min-width: 750px) and (min-height: 1000px) {
				width: 450px;
				height: 450px;
				top: 55%;
				left: 50%;
				transform: translate(-50%,-55%);
			}

			@media (min-width: 1199px) {
				width: 450px;
				height: 450px;
				top: 50%;
				left: 100%;
				transform: translate(-100%,-50%);
			}

			svg{
				width: 100%;
				position: absolute;
			}

		}

		&__book_three{
			width: 270px;
			height: 270px;
			position: absolute;
			top: 75%;
			left: 50%;
			transform: translate(-50%,-75%);
			opacity: 0;

			@media (min-width: 370px) and (min-height: 820px) {
				width: 350px;
				height: 350px;
				top: 60%;
				left: 50%;
				transform: translate(-50%,-60%);
			}

			@media (min-width: 750px) and (min-height: 1000px) {
				width: 450px;
				height: 450px;
				top: 55%;
				left: 50%;
				transform: translate(-50%,-55%);
			}

			@media (min-width: 1199px) {
				width: 450px;
				height: 450px;
				top: 50%;
				left: 100%;
				transform: translate(-100%,-50%);
			}

			svg{
				width: 100%;
				position: absolute;
			}

		}

		&__book_four{
			width: 270px;
			height: 270px;
			position: absolute;
			top: 75%;
			left: 50%;
			transform: translate(-50%,-75%);
			opacity: 0;

			@media (min-width: 370px) and (min-height: 820px) {
				width: 350px;
				height: 350px;
				top: 60%;
				left: 50%;
				transform: translate(-50%,-60%);
			}

			@media (min-width: 750px) and (min-height: 1000px) {
				width: 450px;
				height: 450px;
				top: 55%;
				left: 50%;
				transform: translate(-50%,-55%);
			}

			@media (min-width: 1199px) {
				width: 450px;
				height: 450px;
				top: 50%;
				left: 100%;
				transform: translate(-100%,-50%);
			}

			svg{
				width: 100%;
				position: absolute;
			}

		}

		.title{
			opacity: 0;
		}

	}

}