.google_ads{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(
		$licorne_yellow,
		$licorne_BrightTurquoise
	);
	&__container{

		&__textGoogle{
			width: 100%;
			position: absolute;
			top: 16%;
			left: 50%;
			transform: translate(-50%,-80%);
			span {
				font-weight: 700;
			}

			 @media (min-width: 350px) {
				 width: 80%;
			 }
			
			@media (min-width: 350px) and (min-height: 800px) {
				width: 90%;
			}
			@media (min-width: 768px) {
				width: 80%;
			}
			@media (min-width: 1199px){
				width: 50%;
				top: 20%;
				left: 0%;
				transform: translate(0%,-20%);
			}
			p{
				font-size: 16px;
				@media (min-width: 350px) and (min-height: 800px) {
					font-size: 22px;
					font-weight: 300;
				}
				@media (min-width: 1199px){
					font-size: 24px;
				}
			}
		}

		&__textTwoGoogle{
			width: 50%;
			position: absolute;
			top: 80%;
			left: 100%;
			transform: translate(-100%,-80%);
			span {
				font-weight: 700;
			}
			@media (max-width: 1200px) {
				display: none;
			}
			p{
				font-size: 24px;
				font-weight: 300;
			}
		}

		&__animation{
			width: 320px;
			height: 320px;
			position: absolute;
			display: block;
			top: 47%;
			left: 50%;
			transform: translate(-50%,-20%);
			@media (min-width: 350px) and (min-height: 800px) {
				width: 320px;
				height: 320px;
			}
			@media (min-width: 750px) and (min-height: 1000px) {
				width: 500px;
				height: 500px;
			}
			@media (min-width: 1199px){
				top: 60%;
				left: 6%;
				transform: translate(-10%,-80%);
				width: 350px;
				height: 350px;
			}

			&__search1{
				width: 100%;
				position: absolute;
				display: block;
				top: -25%;
				transform: translate(0,0%);
			   
				@media (min-width: 1199px) {
					top: 50%;
					transform: translate(0,-50%);
				}

				svg{
					width: 100%;
					height: 100%;
				}
			}

			&__search{
				width: 80%;
				position: absolute;
				display: block;
				left:50%;
				top: 100%;
				transform: translate(-50%,-100%);

				svg{
					width: 100%;
					height: 100%;
				}

			}
		}

		&__image{
			width: 320px;
			height: 320px;
			position: absolute;
			top: 20%;
			left: 90%;
			transform: translate(-90%,-20%);
			@media (max-width: 1200px) {
				display: none;
			}
			@media (min-width: 1899px) {
				width: 500px;
				height: 500px;
			}
			&__well{
				width: 60%;
				height: auto;
				position: absolute;
				display: block;
				top: 90%;
				left: 50%;
				transform: translate(-50%,-100%);
				svg{
					width: 100%;
					height: 100%;
				}
			}
			&__face{
				width: 100%;
				height: 60%;
				overflow: hidden;
				position: relative;
				display: block;
				@media (max-width: 576px) {
					top: 5%;
					left: 50%;
					transform: translate(-50%,-5%);
				}
				&__img{
					width: 20%;
					height: auto;
					position: absolute;
					display: block;
					top: 40%;
					left: 35%;
					transform: translate(-35%,-40%);
					opacity: 0;
					animation-name: carita;
					animation-duration: 5s;
					animation-delay: 2s;
					animation-iteration-count: infinite;
					@keyframes carita {
						0% {opacity: 0}
						25% {opacity: 0.5}
						75% {opacity: 1; top: 40%; width: 20%;}
						100% {top: 150%; width: 10%;}
					}
					svg{
						width: 100%;
						height: 100%;
					}
				}
				&__img2{
					width: 25%;
					height: auto;
					position: absolute;
					display: block;
					top: 90%;
					left: 50%;
					transform: translate(-50%,-90%);
					opacity: 0;
					animation-name: carita1;
					animation-duration: 5s;
					animation-iteration-count: infinite;
					@keyframes carita1 {
						0% {opacity: 0}
						25% {opacity: 0.5}
						75% {opacity: 1; top: 90%; width: 25%;}
						100% {top: 150%; width: 10%;}
					}
					svg{
						width: 100%;
						height: 100%;
					}
				}
				&__img3{
					width: 20%;
					height: auto;
					position: absolute;
					display: block;
					top: 50%;
					left: 20%;
					transform: translate(-20%,-50%);
					opacity: 0;
					animation-name: carita2;
					animation-duration: 5s;
					animation-delay: 3s;
					animation-iteration-count: infinite;
					@keyframes carita2 {
						0% {opacity: 0}
						25% {opacity: 0.5}
						75% {opacity: 1; left: 20%; top: 50%; width: 20%;}
						100% {top: 150%; left: 40%; width: 5%;}
					}
					svg{
						width: 100%;
						height: 100%;
					}
				}
				&__img4{
					width: 15%;
					height: auto;
					position: absolute;
					display: block;
					top: 25%;
					left: 5%;
					transform: translate(-25%,-5%);
					opacity: 0;
					animation-name: carita3;
					animation-duration: 5s;
					animation-delay: 4s;
					animation-iteration-count: infinite;
					@keyframes carita3 {
						0% {opacity: 0}
						25% {opacity: 0.5}
						75% {opacity: 1; top: 25%; left: 5%; width: 15%;}
						100% {top: 150%; left:50%; width: 10%;}
					}
					svg{
						width: 100%;
						height: 100%;
					}
				}
			}
		}

	}
}
