
    .menu_movil_licorne{
        position: fixed;
        bottom: 20px;
        left: 0;
        transform: translate(-50%, -20px);
        background-color: transparent;
        z-index: 100;
        border-radius: 40px;
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        z-index: 100;
        transition: 1s;
		

		@media (max-width:767px){
			display: flex;
		}
    
        &__icono{
            width: 60px;
            height: 60px;
            padding: 5px 10px;
            display: none;
            align-items: center;
            justify-content: center;
            z-index: 1;
    
            img{
                max-width: 100%;
                max-height: 100%;
            }

			@media(max-width: 576px){
				width: 55px;
                height: 55px;
			}

			@media(max-width: 320px){
				width: 45px;
                height: 45px;
			}

			&--active{
				display: flex;
			}
        }
    
        &__icono_abrir_menu{
            background-color: $licorne_blue;
            border-radius: 50%;
            padding: 0;
            margin-top: 0px;
            cursor: pointer;
			width: 60px;
            height: 60px;
			display: flex;
            align-items: center;
            justify-content: center;
			transition: 1s;

    
            img{
                width: 60%;
            }

			@media(max-width: 576px){
				width: 70px;
                height: 70px;
			}

			@media(max-width: 320px){
				width: 60px;
                height: 60px;
			}

			&--active{
				margin-top: -60px;
			}
    
        }
    

    &--active{
		left: 50%;
		background-color: $licorne_gray;
	}
    
    }
	
    
  


