.tecnology{
	width: 100%;
	height: 140vh;
	background:$licorne_yellow;
	@media(min-width: 370px) and (min-height: 660px){
		height: 120vh;
	}
	@media(min-width: 380px) and (min-height: 830px){
		height: 100vh;
	}
	@media(min-width: 576px){
		height: 100vh;
	}

	&__container{
		height: 100%;

		.title{
			@media(min-width: 1199px){
				width: 100%;
				top: 10%;
			}
			h1{
				@media(max-width: 340px){
					font-size: 36px;
				}

			}
		}

		&__wordpress{
			position: absolute;
			width: 250px;
			height: 250px;
			top: 45%;
			left: 50%;
			transform: translate(-50%,-45%);
			@media(min-width: 576px){
				top: 60%;
				left: 0%;
				transform: translate(-0%,-60%);
			}
			@media(min-width: 800px){
				width: 350px;
				height: 350px;
			}
			@media (min-width: 1199px) and (max-height: 700px){
				top: 90%;
				left: 15%;
				transform: translate(-15%,-90%);
			}
			@media(min-width: 1600px){
				width: 400px;
				height: 500px;
				top: 75%;
				left: 15%;
				transform: translate(-15%,-70%);
			}
			&:hover{
				.tecnology__container__wordpress__imgTec{
					opacity: 1;
				}
			}

			&__imgTec{
				position: absolute;
				top: 0%;
				left: 50%;
				transform: translate(-50%,0);
				width: 100px;
				height: 100px;
				opacity: 1;
				transition-duration: 500ms;
				@media(min-width: 280px){
					top: -30%;
				}
				@media(min-width: 800px){
					top: -7%;
					width: 120px;
					height: 220px;
				}
				@media(min-width: 1198px){
					opacity: 0;
				}
				@media (min-width: 1199px) and (max-height: 700px){
					width: 200px;
					height: 200px;
					top: 10%;
					left: 50%;
					transform: translate(-50%,0);
				}
				@media(min-width: 1600px){
					top: 1%;
					width: 250px;
					height: 250px;
				}
				svg{
					width: 100%;
				}
				
			}

			&__txtTec{
				width: 100%;
				position: absolute;
				top: 90%;
				left: 50%;
				transform: translate(-50%,-90%);
				@media(min-width: 1600px){
					font-size: 22px;
				}
				h3{
					font-weight: 700;
				}
				p{
					font-weight: 300;
				}
			}
		}

		&__meter{
			position: absolute;
			width: 250px;
			height: 250px;
			top: 90%;
			left: 50%;
			transform: translate(-50%,-90%);
			@media(min-width: 576px){
				top: 60%;
				left: 100%;
				transform: translate(-100%,-60%);
			}
			@media(min-width: 800px){
				width: 350px;
				height: 350px;
			}
			@media (min-width: 1199px) and (max-height: 700px){
				top: 90%;
				left: 85%;
				transform: translate(-85%,-90%);
			}
			@media(min-width: 1600px){
				width: 400px;
				height: 500px;
				top: 75%;
				left: 85%;
				transform: translate(-85%,-70%);
			}
			&:hover{
				.tecnology__container__meter__imgTec{
					opacity: 1;
				}
			}
			&__imgTec{
				position: absolute;
				top: 30%;
				left: 50%;
				transform: translate(-50%,-30%);
				width: 150px;
				height: 150px;
				opacity: 1;
				transition-duration: 500ms;
				@media(min-width: 800px){
					width: 250px;
					height: 250px;
				}
				@media(min-width: 1198px){
					opacity: 0;
				}
				@media (min-width: 1199px) and (max-height: 700px){
					top: 45%;
				}
				@media(min-width: 1600px){
					width: 420px;
					height: 420px;
				}
				svg{
					width: 100%;
					height: 41%;
				}
			}
			&__txtTec{
				width: 100%;
				position: absolute;
				top: 90%;
				left: 50%;
				transform: translate(-50%,-90%);
				@media(min-width: 1600px){
					font-size: 22px;
				}
				h3{
					font-weight: 700;
				}
				p{
					font-weight: 300;
				}
			}
		}
	}
}